body {
  margin: 0;
  padding:0;
  background-color: #222;

  font-size: 2vw;
  font-family: Helvetica;
  color: white;

}

header {
  position:fixed;
  top: 0;
  width: 100vw;
  height: 7vw;
  background-color: black;
  opacity: 50%;
  z-index: 10;
  display: grid;
  
  grid-template-columns: repeat(5, auto) repeat(5, 10vw);
  grid-template-rows: 0;
}

.icon {
border-radius: 50%;
height: 5vw;
grid-column-start: 1;
grid-column-end: 2;

margin:auto;

}
.menut_btn_container {
 
  grid-column-start: 1;
  grid-column-end: 2;
 
  visibility: hidden;
}
.menu_btn {
  border-radius: 50%;
  height: 5vw;
  
}

.intro {
position:absolute;
top: 17vw;
left: 40vw;
width: 55vw;

}

.containeR {
  margin-top: -1vw;
  width: 100%;
  height: fit-content;

  display: grid;
  grid-template-rows:repeat(1, 1fr);
} 

.bg {
  width: 100%;
}


.name {
  margin:auto;
  grid-column-start: 2;
  grid-column-end: 4;
}

header a {
  transition:0.5s;
  font-size: 1.5vw;
  font-family: Helvetica;
  margin: auto;
  text-decoration: none;
  color: white;
  font-weight: bold;
  
}


header a:hover {
  transition:0.5s;
  font-size: 2vw;
}

.index {
 grid-column-start: 6;

}
.cv {
  grid-column-start: 7;
}
.projects {
  grid-column-start: 8;
}
.login {
  grid-column-start: 9;
}

.lang {
  grid-column-start: 10;

}

.arcade {
float:left;

height: 50vw;
margin-right: 2vw;
}


.about {
  margin-top: 0vw;
  padding: 5vw;
  grid-row-start: 1;
}


.text {
  padding-left: 2vw;
}



*{
  margin:0;
  padding:0;
  box-sizing: border-box;

}

.swiper-slide img {
  width: 60vw;
}

.stuff {
  
  background-color: #222;
 
  width: 100%;
  height: fit-content;
  margin-bottom: 5vw;

  
}
.swiper {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: center;
  
}


.swiper .swiper-button-prev, .swiper .swiper-button-next{
  color: white;
}

.swiper .swiper-pagination-bullet-active {
  background: #fff;

}





footer {
  display: grid;
  grid-template-columns: repeat(11, 9.0909090909090909090909090909091vw);
  grid-template-rows: repeat(4, 5vw);

  background-color: black;
  height: 20vw;


 

}


footer img {
  width: 4vw;
  transition: 0.5s;
}

footer img:hover {
  width: 5.5vw;
  transition:0.5s;

}

.diff_footer img {
  width: 4vw;
  transition: 0.5s;
}

.diff_footer img:hover {
  width: 5.5vw;
  transition:0.5s;

}
.diff_footer {
  display: grid;
  grid-template-columns: repeat(11, 9.0909090909090909090909090909091%);
  grid-template-rows: repeat(4, 5vw);

  background-color: black;
  width: 100%;
  height: 20vw;

  position: absolute;
  bottom: 0;

}



.icon1 {
  margin: auto;
  grid-column-start: 5;
  grid-column-end: 6;
  grid-row-start: 2;

}

.icon2 {
  margin: auto;
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  
}

.icon3 {
  margin:auto;
  grid-column-start: 7;
  grid-column-end: 8;
  grid-row-start: 2;

}

.copyright {
  margin:auto;
  grid-column-start: 2;
  grid-column-end: 4; 
  font-size: 1.5vw; 
  grid-row-start: 4;

}

.email {
  font-size: 1.5vw;
  font-family: Helvetica;
  margin-top: 2.4vw;
  text-decoration: none;
  color: white;
  font-weight: bold;

  margin: auto;
  grid-column-start: 6;
  grid-column-end: 8;
  grid-row-start: 4;
}



.diff_header {
  width: 100%;
  background-color: transparent;
  position: static;
  opacity: 1;
}
.diff1_header {
  width: 100%;
  position: static;

}


.popups {
  display: grid;
  grid-template-columns: repeat(3,33.33%);
  grid-template-rows: repeat(2,16.666666666666666666666666666667vw);
}

.popups a {
  transition: 0.25s;
  background-color: grey;
  width: 12vw;
  height: 12vw;
  margin:auto;

  border-color:grey;
  
  color: white;
  text-decoration: none;

  border-radius: 1vw;
  border-style:solid;


}


.popups a:hover {
  
  transition: 0.25s;
  border-color: black;
 

}

.sokoban {
  border-color:grey;
  border-radius: 1vw;
  border-style:solid;

  margin-left:0.78vw;
  width: 10vw;
  
}
.popups a p {
    margin-left: 1vw;
}


.bg1 {
  background-color: rgb(82, 86, 89);  
}

.box {
  padding: 0;
  width: 100%;
  height: 50%;
  padding-top: 5%;
  
}

.box-wrapper {
  width: fit-content;
  height: fit-content;
  margin: auto;
 

}



.button {
  width: 100%;
  height: 2vw;
  color:white;
  background-color: darkblue;
  transition: 0.25s;
}

.button:hover {
  transition: 0.25s;
  background-color: blue;

}
.menu_btn {
  visibility: hidden;
}
.menu_btn_container {
  visibility: hidden;
}
.nav1{
  visibility: hidden;
}
.menu_btn_container a{
  visibility: hidden;
}


@media only screen and (orientation: portrait) {


  header a:hover {
      transition:0s;
      font-size: 1.5vw;
      font-family: Helvetica;
      margin: auto;
      text-decoration: none;
      color: black;
      font-weight: bold;

  }
  .menu_btn_container{
    margin:auto;
    margin-top: 1vw;
  }
  /*
  .menu_btn_container:hover .nav1{
    display:block;
    visibility: visible;
  } 
  *//*
  #demo:checked +label .menu_btn_container .nav1{
    display:block;
    visibility: visible;
  }*/   
  .menu_btn  {
    background-color: white;
    visibility: visible;
  }

  .menu_btn:hover{
    background-color: rgb(172, 172, 172);
 

  }
  .nav1{
    visibility: hidden;
  }

  .icon {
    visibility: hidden;
  }
  .name{
    visibility: hidden;
  }
  .nav {
    visibility: hidden;
  }


  header {
    position:fixed;
    top: 0;
    width: 100%;
    height: 7vw;
    background-color: black;
    opacity: 50%;
    z-index: 10;
    display: grid;
    
  
    
  }

  header a {
    font-size: 1.5vw;
    font-family: Helvetica;
    margin: auto;
    text-decoration: none;
    color: black;
    font-weight: bold;
    opacity: 1;
    
  }
    
  .nav1 {
    background-color: white;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
    

   
}